  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

  body {
    margin: 0;
    -webkit-perspective: 1000;
    font-family: 'Poppins', sans-serif;
    background: #303030;
  }

  body, html {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
  }



  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
  }

  h1 {
    color: #ffffff;
    font-size: 2em;
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #fff;
    text-decoration: none !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  .overlay {
    background: linear-gradient(to top right, #8cc4d2, #000000);
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }


  /*---------------------------------------
      HOME          
  -----------------------------------------*/

  #home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  #home .container {
    width: 100%;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
  }
  
  .social {
    text-align: center;
    margin: 50px 0;
    padding: 0;
  }

  .social li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

  .social span {
    font-size: 25px;
  }

  .social h3 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .social a {
    color: #fff;
  }

  /* FADE-IN */
  .social a:hover span i {
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }

  /* FADE-OUT */
  .social a span i {
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
  }

  .social .instagram a:hover span i {
    color: #d6249f;

    /* maybe one day background transitions will support gradients */
    /*background:         radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background:    -moz-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background:     -ms-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background:      -o-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  }

  .social .discord a:hover span i {
    color: #5865F2;
  }

  .social .twitter a:hover span i {
    color: #1da1f2;
  }

  .social .vrchat a:hover span i {
    color: yellow;
  }

  .social .github a:hover span i {
    color: #333;
  }

  .social .osu a:hover span i {
    color: #fb2bff;
  }

  .social .twitch a:hover span i {
    color: #9146FF;
  }

  #now-playing h4 {
    color: #fff;
  }

  #track-selector {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }

  #track-selector > .social {
    margin-bottom: 0;
  }

  .text-focus-in {
  -webkit-animation: text-focus-in 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
          animation: text-focus-in 4s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 480px) {
    .home-info {
      padding: 0 1em 0 1em;
    }
  }

  @media screen and (max-width: 360px) {
    h1 {
      font-size: 1.50em;
    }
  }
